h2 {
  font-size: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.card-section {
  display: flex;
  justify-content: center;
  margin: 1em;
  border-radius: 1em;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  text-decoration: none;
  background-color: black;
  padding: 1.25rem;
  color: white;
  margin: 16px;
  border: 5px solid rgba(0, 0, 0, 0.709);
}

.container:hover {
  background-color: rgba(255, 88, 66, 0.709);
  color: black;
}

.container p {
  font-size: 20px;
}

.name {
  font-size: 16px;
  margin-bottom: 0.75rem;
  color: var(--grey);
  font-weight: bold;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center top;
}

.search-options {
  display: flex;
  justify-content: center;
  border-width: 0;
  border-radius: 20px;
}

.card-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  font-size: 30px;
}
