header {
  background-image: url(/assets/food-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.h2-contact {
  font-size: 50px;
}

label {
  font-size: larger;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  height: 100%;
  gap: 0.5em;
  color: rgb(4, 0, 0);
  font-size: 30px;
}

.contact-main input {
  height: 2em;
  border: 5px solid pink;
}

.contact-info {
  display: flex;
  justify-content: center;
}

textarea {
  width: 40%;
}

.contact-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.validationerror {
  color: red;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: smaller;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  display: flex;
  justify-content: center;
  line-height: 4;
  color: rgb(34, 32, 32);
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: rgb(67, 63, 63);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: rgb(67, 63, 63);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: rgb(67, 63, 63);
  text-decoration: none;
}

.social-media {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media li a {
  color: #fff;
}

.social-media li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media li:hover {
  background-color: #fff;
}

.social-media li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media li:hover a {
  color: rgb(255, 135, 255);
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

.validation-error {
  display: none;
  margin-top: 4px;
  color: red;
  font-size: 14px;
}

@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

  .contact-box {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
