.card-slider-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.card-slider {
  position: relative;
  overflow: hidden;
  background-color: none;
}

.card-slider-track {
  display: flex;
  width: max-content;
  transition: transform 0.3s ease-in-out;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

.card-slider .card {
  flex: 0 0 300px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  border: 5px solid rgb(242, 55, 114);
}

.card h3 {
  margin-top: 0;
  background: none;
  margin-bottom: 10px;
  color: black;
}

.card p {
  margin: 0;
  color: black;
  font-size: 20px;
}

.card-slider-navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-slider-nav-btn {
  padding: 10px 20px;
  margin: 0 5px;
  color: rgb(19, 19, 19);
  width: 300px;
  font-size: 20px;
  font-weight: 800;
}

.card-slider-nav-btn.prev {
  order: 1;
  background: pink;
  border-radius: 100px 100px 100px 100px;
  border: none;
}

.card-slider-nav-btn.next {
  order: 2;
  background: pink;
  border-radius: 100px 100px 100px 100px;
  border: none;
}

@media (max-width: 320px) {
  .card-slider-container {
    padding: 10px;
  }

  .card {
    margin-right: 10px;
    width: 500px;
  }
}
